<div class="container">
    <h1>Авторизация</h1>

    <form method="post" action="/auth">
        <div class="mb-3">
            <label for="phone" class="form-label">Телефон</label>
            <input class="form-control" type="tel" name="phone" id="phone" placeholder="78005553535" pattern="[0-9]{11}" value="{{phone}}" required>
        </div>

        {{#button}}
        <div class="mb-3">
            <label for="code" class="form-label">Код</label>
            <input class="form-control" name="code" id="code" placeholder="12345" pattern="[0-9]{5}" value="{{code}}" required>
        </div>
        {{/button}}

        <button type="submit" class="btn btn-primary mb-3">{{button}}{{^button}}Отправить код{{/button}}</button>
    </form>
</div>